HOST_IP=$NODE_IP
SERVICE_HOST=$CONTROLLER_HOSTNAME
MYSQL_HOST=$CONTROLLER_HOSTNAME
RABBIT_HOST=$CONTROLLER_HOSTNAME
GLANCE_HOSTPORT=$CONTROLLER_HOSTNAME:9292
ADMIN_PASSWORD=secrete
MYSQL_PASSWORD=secrete
RABBIT_PASSWORD=secrete
SERVICE_PASSWORD=secrete
SERVICE_TOKEN=secrete

## Neutron options
PUBLIC_INTERFACE=p3p1
Q_USE_PROVIDERNET_FOR_PUBLIC=True
OVS_PHYSICAL_BRIDGE=br-ex
