[[post-config|$NOVA_CONF]]
[DEFAULT]
vnc_enabled = true
vncserver_listen = $NODE_IP
vncserver_proxyclient_address = $NODE_IP
xvpvncproxy_base_url = http://$CONTROLLER_HOSTNAME:6081/console
novncproxy_base_url = http://$CONTROLLER_HOSTNAME:6080/vnc_auto.html
