HOST_IP=$NODE_IP
SERVICE_HOST=$CONTROLLER_HOSTNAME
MYSQL_HOST=$CONTROLLER_HOSTNAME
RABBIT_HOST=$CONTROLLER_HOSTNAME
GLANCE_HOSTPORT=$CONTROLLER_HOSTNAME:9292
ADMIN_PASSWORD=secrete
MYSQL_PASSWORD=secrete
RABBIT_PASSWORD=secrete
SERVICE_PASSWORD=secrete
SERVICE_TOKEN=secrete

FLAT_INTERFACE=eth1
PUBLIC_INTERFACE=eth1

## Neutron options
Q_USE_SECGROUP=True
LIBVIRT_TYPE=qemu
